extends app.pug

block intro
  h1.namecard-prompt Let's get started
      h5 The actual exam is:
        p 70 questions
        p multiple choice
        p 110 minutes long
        p valid for 2 years

  a.namecard-submit(href='/cards') Begin!
